body {
  background-color: rgb(157, 226, 225);
  font-family: Verdana, Arial, sans-serif;
  --primary-color: rgb(51, 198, 220);
  --line-color: rgb(158, 100, 5);
}

.main-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 15% 8% 54% auto 8%; /*Auto para que el pie de página no se salga de la misma*/
  grid-auto-flow: row;
  grid-template-areas:
    "encabezado encabezado" /* Viene duplicado porque son 2 columnas y ocupa todo ese espacio*/
    "menu menu"
    "cuerpo mininos-random"
    "cuerpo colaboradores"
    "pie-pag pie-pag";
}

.encabezado {
  display: flex; /*Para poder alinear el texto de manera sencilla*/
  justify-content: center;
  align-items: center;
  margin: 8px 8px 0px 8px;
  padding: 0;
  grid-area: encabezado;
  background-color: var(--primary-color);
  border-radius: 5em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 450%;
  color: rgb(181, 38, 172);
}

.menu {
  margin: 8px;
  grid-area: menu;
  grid-row: auto;
  background-color: darkgrey;
  padding: 8px;
  font-size: 18px;
}

.menu-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.main-cuerpo {
  grid-area: cuerpo;
  margin: 16px;
  text-align: justify;
}

.mininos-random {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: mininos-random;
  width: 100%;
  margin: 16px 0px;
}

.mininos-random img {
  width: 400px;
  height: 400px;
}
.colaboradores {
  grid-area: colaboradores;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-busqueda-horizontal > fieldset {
  /*Va a aplicar el padding al hijo directo de form-busqueda (fieldset)*/
  padding: 8px;
  border-color: var(--line-color);
}

.form-fields-container {
  display: flex;
  flex-direction: row; /*Los elementos se alinean en una fila, aunque se muestren en varias columnas*/
}

.form-field {
  flex: 1;
}

.section-title {
  font-weight: bold;
  font-size: larger;
}

.form-title {
  font-weight: 600;
}

.boton {
  border: 3px solid var(--line-color);
  padding: 8px;
  background-color: var(--primary-color);
  font-weight: 600;
  float: right;
}

.pie-pag {
  display: flex;
  grid-area: pie-pag;
  margin: 8px;
  position: absolute;
  bottom: 0;
}

.mininos-container {
  display: grid;
  grid-template-columns: 100%;

  grid-template-rows: 125px 70px auto 70px; /*Auto para que el pie de página no se salga de la misma*/
  grid-auto-flow: row;
  grid-template-areas:
    "encabezado"
    "menu"
    "mininos-cuerpo"
    "pie-pag";
}

.mininos-cuerpo {
  grid-area: mininos-cuerpo;
  width: 100%;
  display: flex;
  padding-top: 16px;
}

.form-busqueda-vertical .form-fields-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: baseline;
}

.mininos-galeria {
  flex: 4; /*Hacemos que la galería tenga 4 veces más tamaño que el formulario*/
  gap: 24px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 70vh; /* 70% de la altura total de la pantalla "viewport"*/
  margin-right: 16px;
}

.mininos-formulario {
  flex: 1;
}

.minino-item {
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
}

.minino-item-content {
  margin-left: 16px;
}

.minino-item-name {
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
}

.minino-item-label {
  font-weight: bold;
}

.minino-item-botones {
  flex: 1; /*Si este es el único hijo que tiene flex, crece al espacio sobrante*/
  align-self: flex-end; /*Para que sólo este hijo sea el que se alinee*/
}

.boton-apadrinar {
  background-color: rgb(40, 81, 214);
  color: white;
  margin-right: 16px;
}

.nosotros-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 125px 70px auto 70px; /*Auto para que el pie de página no se salga de la misma*/
  grid-auto-flow: row;
  grid-template-areas:
    "encabezado" /* Viene duplicado porque son 2 columnas y ocupa todo ese espacio*/
    "menu"
    "nosotros-cuerpo";
}

.nosotros-cuerpo {
  grid-area: nosotros-cuerpo;
  text-align: justify;
}

.minino-nosotros {
  display: flex;
  justify-content: center;
}

.mininos-galeria .section-title {
  padding-left: 16px;
}
